<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Подключение font-avesome --}}
     <link
      rel='stylesheet'
      href='https://use.fontawesome.com/releases/v5.15.3/css/all.css'
      integrity='sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk'
      crossorigin='anonymous'
    />
    {{!------------------------------}}
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/reg_login.css">
    <link rel="stylesheet" href="/css/cabinet.css">
    

    <script src="/js/handlebars.min-v4.7.7.js"></script>
    <script defer src="/js/user_cabinet.js"></script>
    <title>Cool Template for Assesment</title>
</head>
<body>
    {{> header}}
    {{{body}}}
</body>
</html>