
<form class="form_registration" name="registration" method="POST" action="/user/authentication">
<h2> Аутентификация пользователя </h2>
    <label for="email">Введите email</label><input id="email" type="email" name="email">
    <label for="password">Введите пароль</label><input id="password" type="password" name="password">
    <button> Войти </button>
</form>