

<form class="form_registration" name="registration" method="POST" action="/user/registration">
    <h2> Форма регистрации нового пользователя </h2>
    <label for="name">Введите имя пользователя</label><input type="text" id="name" name="name"> 
    <label for="email">Введите email</label><input id="email" type="email" name="email">
    <label for="password">Введите пароль</label><input id="password" type="password" name="password">
    <button> Зарегистрироваться </button>
</form>